/* Estilos para el div principal */
.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  /* Estilos para el select */
  .search input[type="text"] {
    border: none;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  /* Estilos para las opciones del select */
  .select option {
    padding: 8px;
    font-size: 16px;
  }
  .landingButton {
    background-color: #201ac1;
    color: #fff;
    padding: 0.1rem 0.2rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    cursor: pointer;
    
  }
  
  .landingButton:hover {
    background-color: #3b393a;
  }